{% extends "templates/base.html" %}
{% block content %}

  <div class="row-fluid">
    <div class="span8">
        <h1>Prochains matchs</h1>
        <table class="table">
            <tbody>
              {% for match in next-matchs %}
                <tr>
                    <td>{{match.date}}</td>
                    <td>{{match.first_team_name}}</td>
                    <td> - </td>
                    <td>{{match.second_team_name}}</td>
                    <td><button class="btn btn-primary">Parier</button></td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
    </div>
</div>
  <div class="row-fluid">
    <div class="span8">
        <h1>Matchs passés</h1>
        <table class="table">
          {% for match in past-matchs %}
            <tr>
                <td>{{match.date}}</td>
                <td>{{match.first_team_name}}</td>
                <td>{{match.first_team_score}} - {{match.second_team_score}}</td>
                <td>{{match.second_team_name}}</td>
            </tr>
            {% endfor %}
          </table>
    </div>
  </div>
{% endblock %}
